<nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
        <a href="/" class="navbar-brand col-md-1">
            <img class="img-logo-header" src="/images/OIP.jpeg" alt="Ảnh lỗi">
        </a>
        <div class="collapse navbar-collapse col-md-9" id="navbarNavDropdown">
            <ul class="w-50 navbar-nav">
                <li class="nav-item">
                    <a class="nav-link fw-medium fs-5 " aria-current="page" href="/">Trang Chủ</a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link fw-medium fs-5" href="">Thể Loại</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-medium fs-5" href="">Sản Phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-medium fs-5" href="">Người Dùng</a>
                </li>
            </ul>
        </div>
        <!-- Dùng lớp "d-none d-md-block" để ẩn user-info khi ở kích cỡ điện thoại (nhỏ hơn "md") -->
        <div class="user-info col-md-2">
            <div class="dropdown">
             
                    
                </div>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="">Personal information</a></li>
                 
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="">Log out</a></li>
                </ul>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
